<body>
  <aside>
    <div class="form-container">
      <h2>Registrar Profesor</h2>
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData); formData.reset()">
        <input type="text" placeholder="Email address" (ngModel)="email" name="email" class="input-txt" required>
        <input type="password" placeholder="Password" (ngModel)="password" name="password" class="input-txt" required>
        <input type="text" placeholder="codigo" (ngModel)="password" name="codigo" class="input-txt" required>
        <input type="text" placeholder="nombre" (ngModel)="nombre" name="nombre" class="input-txt" required>
        <input type="text" placeholder="rol" (ngModel)="rol" name="rol" class="input-txt" required>

        <button type="submit" [disabled]="!formData.valid" class="auth-btn">Crear Cuenta</button>
      </form>
    </div>
  </aside>

  <div class="container borde1">
    <div class="card">
      <button routerLink="/signup" type="button" class="btn btn-outline-info visualizar">Registrar Estudiante</button>
      <button routerLink="/registrarProfesor" type="button" class="btn btn-outline-info registrar">Registrar Profesor</button>
      <button routerLink="/registrarCursos" type="button" class="btn btn-outline-info registrar">Registrar Curso</button>
      <button routerLink="/email-login" type="button" class="btn btn-outline-info registrar">Salir</button>
    </div>
  </div>


</body>


