
<body>

  <aside>
    <img class="image1" src="./assets/images/Imagen1.png">
  </aside>
    <div class="container borde1">
      <div class="form-container">
        <button routerLink="/signup" type="button" class="btn btn-outline-info visualizar">Registrar Estudiante</button>
        <button routerLink="/registrarProfesor" type="button" class="btn btn-outline-info registrar">Registrar Profesor</button>
        <button routerLink="/registrarCursos" type="button" class="btn btn-outline-info registrar">Registrar Curso</button>
        <button routerLink="/email-login" type="button" class="btn btn-outline-info registrar">Salir</button>
      </div>
    </div>


</body>

