<body>

  <aside>
    <div class="container tabla1">
    <div class="card carta2">
      <div class="card carta">
        <div class="card-body fg">
          <div class="as">
            <span class="h3 text-info">Bienvenido usuario: {{nombre}}</span></div>

          <table class="table table-striped">
            <thead class="tableHead">
              <tr>
                <th class="tableHead">Curso</th>
                <th class="tableHead">Id</th>
                <th class="tableHead">Cantidad de estudiantes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of cursos">
                <td>{{curso.curso}}</td>
                <td>{{curso.id}}</td>
                <td>{{curso.numero}}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </aside>


  <div class="container borde1">
    <div class="card contenedor">

      <button routerLink="/email-login" type="button" class="btn btn-outline-info visualizar">Salir</button>
    </div>
  </div>


</body>
